<header class="app-header">
  <img class="app-logo" src="/favicon.ico" alt="PLOT BOX logo" />

  <div class="app-title">
    <h1>SWE-481 Project Phase 2</h1>
    <p>Check the Frontend (Angular) communicating with Backend (Spring Boot)</p>
  </div>
</header>

<section class="api-stack">

  <div class="api-box">
    <h2>Star Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="pingBackend()">Activate</button>
    </div>
  </div>

  <div class="api-box">
    <h2>Genre Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="pingBackend()">Activate</button>
    </div>
  </div>

  <div class="api-box">
    <h2>Cart Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="cartGet()">View Cart</button>
      <button class="btn" (click)="cartAdd()">Add Item</button>
      <button class="btn" (click)="cartUpdate()">Update Quantity</button>
      <button class="btn" (click)="cartDelete()">Delete Item</button>
    </div>
  </div>

  <div class="api-box">
    <h2>Movie Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="movieSearch()">Search</button>
      <button class="btn" (click)="movieBrowseGenre()">BROWSE BY GENRE</button>
      <button class="btn" (click)="movieBrowseFirstLetter()">Browse by first letter</button>
      <button class="btn" (click)="movieGetById()">Get movie by ID</button>
    </div>
  </div>


  <div class="api-box">
    <h2>Auth Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="authLogin()">Login</button> 
      <button class="btn" (click)="authLogout()">Logout</button> 
    </div>
  </div>


  <div class="api-box">
    <h2>Checkout Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="doCheckout()">Checkout</button> 
    </div>
  </div>

</section>

<!-- Results -->
@if (result()) {
  <div class="output-box">
    <h3>Result</h3>
    <pre>{{ result() | json }}</pre>
  </div>
}

@if (error()) {
  <p class="err">{{ error() }}</p>
}

@if (cartResult()) {
  <div class="output-box">
    <h3>Cart Result</h3>
    <pre>{{ cartResult() | json }}</pre>
  </div>
}

@if (cartError()) {
  <p class="err">{{ cartError() }}</p>
}

@if (authResult()) {
  <h3>Auth Result</h3>
  <pre>{{ authResult() | json }}</pre>
}

@if (authError()) {
  <p style="color:red">{{ authError() }}</p>
}

@if (checkoutResult()) {
  <h3>Checkout Result</h3>
  <pre>{{ checkoutResult() | json }}</pre>
}

@if (checkoutError()) {
  <p style="color:red">{{ checkoutError() }}</p>
}