<header class="app-header">
  <img class="app-logo" src="/favicon.ico" alt="PLOT BOX logo" />

  <div class="app-title">
    <h1>SWE-481 Project Phase 2</h1>
    <p>Check the Frontend (Angular) communicating with Backend (Spring Boot)</p>
  </div>
</header>

<section class="api-stack">

  <div class="api-box">
    <h2>Star Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="starGet()">Star Details</button>
      <button class="btn" (click)="starsOfMovieGet()">Stars of a movie</button>
      <button class="btn" (click)="moviesOfStarGet()">movies of a star</button>    </div>
  </div>

  <div class="api-box">
    <h2>Genre Service</h2>
    <div  class="btn-row">
      <button class="btn" (click)="allGenresGet()">All Genres</button>    </div>
  </div>

  <div class="api-box">
    <h2>Cart Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="cartGet()">View Cart</button>
      <button class="btn" (click)="cartAdd()">Add Item</button>
      <button class="btn" (click)="cartUpdate()">Update Quantity</button>
      <button class="btn" (click)="cartDelete()">Delete Item</button>
    </div>
  </div>

  <div class="api-box">
    <h2>Movie Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="movieSearch()">Search</button>
      <button class="btn" (click)="movieBrowseGenre()">BROWSE BY GENRE</button>
      <button class="btn" (click)="movieBrowseFirstLetter()">Browse by first letter</button>
      <button class="btn" (click)="movieGetById()">Movie details</button>
    </div>
  </div>


  <div class="api-box">
    <h2>Auth Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="authRegister()">Register</button>
      <button class="btn" (click)="authLogin()">Login</button>
      <button class="btn" (click)="authLogout()">Logout</button>
    </div>
  </div>


  <div class="api-box">
    <h2>Checkout Service</h2>
    <div class="btn-row">
      <button class="btn" (click)="doCheckout()">Checkout</button>
    </div>
  </div>

</section>


@if (result()) {
<div class="output-box">
  <h3>Result</h3>
  <pre>{{ result() | json }}</pre>
</div>
}

@if (error()) {
<p class="err">{{ error() }}</p>
}

@if (cartResult()) {
<div class="output-box">
  <h3>Cart Result</h3>
  <pre>{{ cartResult() | json }}</pre>
</div>
}

@if (cartError()) {
<p class="err">{{ cartError() }}</p>
}

@if (authResult()) {
<h3>Auth Result</h3>
<pre>{{ authResult() | json }}</pre>
}

@if (authError()) {
<p style="color:red">{{ authError() }}</p>
}

@if (checkoutResult()) {
<h3>Checkout Result</h3>
<pre>{{ checkoutResult() | json }}</pre>
}

@if (checkoutError()) {
<p style="color:red">{{ checkoutError() }}</p>
}


<!-- Movie output -->
@if (movieResult()) {
<h3>Movie Result</h3>
<pre>{{ movieResult() | json }}</pre>
}

@if (movieSingleResult()) {
<h3>Movie Details Result</h3>
<pre>{{ movieSingleResult() | json }}</pre>
}

@if (movieError()) {
<p style="color:red">{{ movieError() }}</p>

@if (starResult()) {
<div class="output-box">
<h3>Star Result</h3>
<pre>{{ starResult() | json }}</pre>
</div>
}
@if (starListResult()) {
<div class="output-box">
<h3>Star List Result</h3>
<pre>{{ starListResult() | json }}</pre>
</div>
}
@if (starError()) {
    <p class="err">{{ starError() }}</p>
}

@if (genreResult()) {
    <div class="output-box">
      <h3>Genre List Result</h3>
      <pre>{{ genreResult() | json }}</pre>
    </div>
}
@if (genreError()) {
    <p class="err">{{ genreError() }}</p>
}
@if (movieListResult()) {
    <div class="output-box">
      <h3>Genre List Result</h3>
      <pre>{{ movieListResult() | json }}</pre>
    </div>
}

}
