# ==================
# OS
# ==================
.DS_Store
Thumbs.db
# =========================
# Angular / Node
# =========================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*
# =====================
# Environment variables
# =====================
.env
.env.local
# =====================
# PostgreSQL
# =====================
*.dump
*.backup

.vscode/
