<section class="container py-5 d-flex justify-content-center">
  <div class="card p-4 shadow-sm w-100">
    <h2 class="h4 mb-4 fw-bold" data-testid="checkout-title">Checkout</h2>

    <div class="d-flex flex-column gap-3">
      <label class="form-label">Name on Card (First Name)</label>
      <input
  class="form-control"
  data-testid="checkout-firstname"
  [value]="firstName()"
  (input)="setFirstName(($any($event.target).value))"
  (blur)="firstNameTouched.set(true)"
  placeholder="First name"
/>

<div *ngIf="firstNameTouched() && firstName() && !isValidCardName(firstName())"
  class="text-danger small">
  Name on card must contain letters only
</div>

      <label class="form-label">Name on Card (Last Name)</label>
      <input
  class="form-control"
  data-testid="checkout-lastname"
  [value]="lastName()"
  (input)="setLastName(($any($event.target).value))"
  (blur)="lastNameTouched.set(true)"
  placeholder="Last name"
/>

<div *ngIf="lastNameTouched() && lastName() && !isValidCardName(lastName())"
  class="text-danger small">
  Name on card must contain letters only
</div>

      <!-- update data-testid="checkout-cardnumber" to ata-testid="checkout-card"    -->
      <label class="form-label">Card Number</label>
      <input
        class="form-control"
        data-testid="checkout-card"
        [value]="cardNumber()"
        (input)="setCardNumber(($any($event.target).value))"
        placeholder="1234-5678-9012-3456"
      />

      <label class="form-label">Card Expiration Date</label>
      <input
  class="input form-control"
  type="date"
  [value]="expiration()"
  [min]="today"
  (input)="setExpiration(($any($event.target).value))"
  data-testid="checkout-expiration"
  maxlength="50"
/>

      <button
        class="btn btn-primary mt-2"
        data-testid="checkout-submit"
        (click)="submit()"
        [disabled]="isLoading() || !firstName() || !lastName() || !cardNumber() || !expiration() || !isValidCardName(firstName()) || !isValidCardName(lastName())"
      >
        {{ isLoading() ? 'Processing…' : 'Pay Now' }}
      </button>

      <div *ngIf="error()" class="alert alert-danger mt-2" data-testid="checkout-error">
        {{ error() }}
      </div>

      <div *ngIf="result()" class="alert alert-success mt-2" data-testid="checkout-success">
        <div class="fw-bold">Response</div>
        <div data-testid="checkout-success-message">
          {{ result()?.message }}
        </div>
      </div>
    </div>
  </div>
</section> */